/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yuimenu{top:-999em;left:-999em;}
.yuimenubar{position:static;}
.yuimenu .yuimenu,.yuimenubar .yuimenu{position:absolute;}
.yuimenubar li,.yuimenu li{list-style-type:none;}
.yuimenubar ul,.yuimenu ul,.yuimenubar li,.yuimenu li,.yuimenu h6,.yuimenubar h6{margin:0;padding:0;}
.yuimenuitemlabel,.yuimenubaritemlabel{text-align:left;white-space:nowrap;}
.yuimenubar ul{*zoom:1;}
.yuimenubar .yuimenu ul{*zoom:normal;}
.yuimenubar>.bd>ul:after{content:".";display:block;clear:both;visibility:hidden;height:0;line-height:0;}
.yuimenubaritem{float:left;}
.yuimenubaritemlabel,.yuimenuitemlabel{display:block;}
.yuimenuitemlabel .helptext{font-style:normal;display:block;margin:-1em 0 0 10em;}
.yui-menu-shadow{position:absolute;visibility:hidden;z-index:-1;}
.yui-menu-shadow-visible{top:2px;right:-3px;left:-3px;bottom:-3px;visibility:visible;}
.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.yuimenu.show-scrollbars,.yuimenubar.show-scrollbars{overflow:visible;}
.yuimenu.hide-scrollbars .yui-menu-shadow,.yuimenubar.hide-scrollbars .yui-menu-shadow{overflow:hidden;}
.yuimenu.show-scrollbars .yui-menu-shadow,.yuimenubar.show-scrollbars .yui-menu-shadow{overflow:auto;}
.yui-skin-sam .yuimenubar{font-size:93%;line-height:2;*line-height:1.9;border:solid 1px #808080;background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 0;}
.yui-skin-sam .yuimenubarnav .yuimenubaritem{border-right:solid 1px #ccc;}
.yui-skin-sam .yuimenubaritemlabel{padding:0 10px;color:#000;text-decoration:none;cursor:default;border-style:solid;border-color:#808080;border-width:1px 0;*position:relative;margin:-1px 0;}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel{padding-right:20px;*display:inline-block;}.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu{background:url(menubaritem_submenuindicator.png) right center no-repeat;}
.yui-skin-sam .yuimenubaritem-selected{background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -1700px;}
.yui-skin-sam .yuimenubaritemlabel-selected{border-color:#7D98B8;}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected{border-left-width:1px;margin-left:-1px;*left:-1px;}
.yui-skin-sam .yuimenubaritemlabel-disabled{cursor:default;color:#A6A6A6;}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled{background-image:url(menubaritem_submenuindicator_disabled.png);}
.yui-skin-sam .yuimenu{font-size:93%;line-height:1.5;*line-height:1.45;}
.yui-skin-sam .yuimenubar .yuimenu,.yui-skin-sam .yuimenu .yuimenu{font-size:100%;}
.yui-skin-sam .yuimenu .bd{*zoom:1;_zoom:normal;border:solid 1px #808080;background-color:#fff;}
.yui-skin-sam .yuimenu .yuimenu .bd{*zoom:normal;}
.yui-skin-sam .yuimenu ul{padding:3px 0;border-width:1px 0 0 0;border-color:#ccc;border-style:solid;}
.yui-skin-sam .yuimenu ul.first-of-type{border-width:0;}
.yui-skin-sam .yuimenu h6{font-weight:bold;border-style:solid;border-color:#ccc;border-width:1px 0 0 0;color:#a4a4a4;padding:3px 10px 0 10px;}
.yui-skin-sam .yuimenu ul.hastitle,.yui-skin-sam .yuimenu h6.first-of-type{border-width:0;}
.yui-skin-sam .yuimenu .yui-menu-body-scrolled{border-color:#ccc #808080;overflow:hidden;}
.yui-skin-sam .yuimenu .topscrollbar,.yui-skin-sam .yuimenu .bottomscrollbar{height:16px;border:solid 1px #808080;background:#fff url(../../../../assets/skins/sam/sprite.png) no-repeat 0 0;}
.yui-skin-sam .yuimenu .topscrollbar{border-bottom-width:0;background-position:center -950px;}
.yui-skin-sam .yuimenu .topscrollbar_disabled{background-position:center -975px;}
.yui-skin-sam .yuimenu .bottomscrollbar{border-top-width:0;background-position:center -850px;}
.yui-skin-sam .yuimenu .bottomscrollbar_disabled{background-position:center -875px;}
.yui-skin-sam .yuimenuitem{_border-bottom:solid 1px #fff;}
.yui-skin-sam .yuimenuitemlabel{padding:0 20px;color:#000;text-decoration:none;cursor:default;}
.yui-skin-sam .yuimenuitemlabel .helptext{margin-top:-1.5em;*margin-top:-1.45em;}
.yui-skin-sam .yuimenuitem-hassubmenu{background-image:url(menuitem_submenuindicator.png);background-position:right center;background-repeat:no-repeat;}
.yui-skin-sam .yuimenuitem-checked{background-image:url(menuitem_checkbox.png);background-position:left center;background-repeat:no-repeat;}
.yui-skin-sam .yui-menu-shadow-visible{background-color:#000;opacity:.12;*filter:alpha(opacity=12);}
.yui-skin-sam .yuimenuitem-selected{background-color:#E1E1E1;}
.yui-skin-sam .yuimenuitemlabel-disabled{cursor:default;color:#A6A6A6;}
.yui-skin-sam .yuimenuitem-hassubmenu-disabled{background-image:url(menuitem_submenuindicator_disabled.png);}
.yui-skin-sam .yuimenuitem-checked-disabled{background-image:url(menuitem_checkbox_disabled.png);}
