/**
 * index.php
 */
	td#menu {
		background-color: #FFFFFF;
	}
	
	td#container {
		background-color: #FFFFFF;
	}

	td#authentication {
		background-color: #FFFFFF;
	}

/**
 * header
 */
	td#header {
		background-color: #EFEFEF;
		border-bottom: 1px solid #808080;
	}

	td#header td#logotype {
		padding-left: 5px;
	}
	
/**
 * container.php
 */

	.fieldset {
		border: 1px solid #808080;
	}

	form div {
		padding: 2px 0;
	}

	button {
		padding: 1px 1px;
		border: 1px solid #808080;
		background-color: #D7D7D7;
		font-size: 8pt;
		font-family: "Bitstream Vera Sans", Tahoma, Verdana, "Times New Roman";
		margin-left: 2px;
	}

	.div-label {
		width: 20%;
		display: block;
		float: left;
		clear: both;
	}

	.select, .input, .select-multiple, .textarea {
		width: 70%;
		background-color: #FAFAFA;
		border: 1px solid #A4C8EE;
	}

	.select-multiple {
		width: 100%;
	}
	
	.checkbox {
		vertical-align: middle;
	}

	.input-date {
		width: 80px;
	}

	* html .input {
		width: 100%;
	}

	
	/* form */
    div#container {
	    padding: 1px;
    }
    
    div#title-container {
	    padding: 3px;
	    vertical-align: middle;
	    color: #666666;
	    font-weight: bold;
		font-size: 11pt;
		font-family: "Bitstream Vera Sans", Tahoma, Verdana, "Times New Roman";
    }

	#close-container-top {
		float: right;
		margin: 2px 0;
	}

	div#content-container {
		background-color: #EFEFEF;
		border: 1px solid #808080;
		clear: both;
	}

	div#footer-container {
		border-top: 2px solid #336699;
		clear: both;
	}

	/* box message */
    div#boxmessage {
    	padding: 5px;
    	margin: 5px;
    	background-color: #ECE9D8;
	    border-top: 1px solid #FFFFFF;
	    border-left: 1px solid #FFFFFF;
	    border-right: 1px solid #808080;
	    border-bottom: 1px solid #808080;
    }

	/* aba */
	.input-aba {
		padding: 0 5% 0 5%;
		background-color: #EFEFEF;
		border: 1px solid #336699;
		border-top: 3px solid #336699;
	    border-bottom: 0;
	}

	.input-aba-hide {
		padding: 0 5% 0 5%;
		background-color: #FAFAFA;
		border: 1px solid #336699;
	    border-bottom: 0;
	}

	.div-aba-space {
	    border-bottom: 1px solid #808080;
	}
	
	.div-aba {
		padding: 10px;
	    border-left: 1px solid #808080;
	    border-right: 1px solid #808080;
	    border-bottom: 1px solid #808080;
	}
    
/**
 * footer
 */
	td#footer {
		height: 20px; min-height: 20px; line-height: 20px;
		display: block;
		background-color: #EFEFEF;
	    border-top: 1px solid #808080;
		color: #000000;
		font-size: 7pt;
	}
	td#footer span {
		padding-left: 10px;
	}

/***********************************************************************
 * container.php > includes
 ***********************************************************************/
/**
 * List-View
 **/
    table#list-view {
    	background-color: #FFFFFF;
	    border-top: 1px solid #808080;
	    border-left: 1px solid #808080;
	    border-bottom: 1px solid #ECE9D8;
	    border-right: 1px solid #ECE9D8;
    }
    
    table#list-view thead td {
    	padding: 2px 5px;
	    background-color: #ECE9D8;
	    border-top: 1px solid #FFFFFF;
	    border-left: 1px solid #FFFFFF;
	    border-bottom: 1px solid #808080;
	    border-right: 1px solid #808080;
    }

	* html table#list-view thead td { /*IE6 and below CSS hack*/
    	padding: 2px 5px;
	}
    
    table#list-view tbody {
    	background-color: inherit;
    }
    
    table#list-view tbody.hover {
	    background-color: #EEEEEE;
    }
    
    table#list-view tbody td {
    	padding: 2px 5px;
    }

	* html table#list-view tbody td { /*IE6 and below CSS hack*/
	    padding: 2px;
	}
    
    table#list-view tbody td.checkbox {
    	text-align: center;
    	background-color: #FFFFFF;
    }

/*IE7 only CSS hack*/
/*
	*:first-child+html * {
		font-size: 10px;
	}
*/

/*IE6 and below CSS hack*/
/*
	* html * {
		font-size: 10px;
	}
*/
