/**
 * generic css
 */
	* {
		margin: 0px;
		padding: 0px;
		font-family: "Bitstream Vera Sans", Tahoma, Verdana, "Times New Roman";
    	cursor: default;
    	font-size: 8pt;
	}

	* html { /*IE6 and below CSS hack*/
		margin: 0px;
		padding: 0px;
	}

    * a {
    	text-decoration: none;
	    color: #000000;
    }

    * img {
    	border: 0;
    }

	fieldset {
	    padding: 10px;
    }

	/* select {
		display: block;
		width: 100%;
	}

	button {
		padding: 2px 5px;

	}

	input {
		display: block;
		width: 100%;
		cursor: text;
	}

	.input-date {
		width: 80px;
		display: block;
	}*/

	/*.input-checkbox {
		width: inherit;
		cursor: default;
		display: inline;
	}*/
	/*IE6 and below CSS hack*/
	/** html .input-checkbox  {
		width: auto;
	}*/

/**
 * authentication.php
 */
	body#body-authentication {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	body#body-authentication div#background {
	    width: 100%;
	    height: 100%;
	}

	body#body-authentication div#form {
	    width: 334px; left: 50%; margin-left: -167px;
	    top: 35%;
	    position: absolute;
	    z-index: 2;
	}

	body#body-authentication div#folder {
	    width: 601px; left: 50%; margin-left: -300px;
	    height: 100px; top: 20%; margin-top: -50px;
	    position: absolute;
	    z-index: 1;
	}

/**
 * index.php
 */
	body#body-index {
		overflow-x: hidden;
		overflow-y: hidden;
	}

/**
 * header
 */
	td#header {
		clear: both;
		vertical-align: middle;
		height: 40px;
	}

	/* header information*/
	td#information {
		vertical-align: bottom;
		text-align: right;
		padding-bottom: 5px;
		padding-right: 10px;
	}

	td#information .field {
		padding-left: 10px;
	}

	td#information a {
		text-decoration: underline;
		cursor: pointer;
	}

/**
 * menu
 */
	td#tdmenu {
		vertical-align: top;
		width: 20%;
		clear: both;
		padding: 10px;
	}

/**
 * container.php
 */
	body#body-container {
    	padding: 10px;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	* html div#container { /*IE6 and below CSS hack*/
    	display: block;
    	clear: both;
	}

    div#content-container {
	    text-align: justify;
	    padding: 10px;
		clear: both;
    }

	div#footer-container {
		clear: both;
	}

	div#container hr {
	    clear: both;
	    height: 1px;
	    margin-left: 10px;
	    margin-right: 10px;
	}

    div#footer-container {
	    padding: 10px;
    }

    div#footer-container button {
    	margin-left: 10px;
    }

	/* ajaxbox */
    div#ajaxbox {
    	display: block;
    }

	* html div#ajaxbox { /*IE6 and below CSS hack*/
    	width: 100%;
	}

    div#deletebox {
    	display: none;
    }

	/* box message */
    div#boxmessage {
    	display: block;
    }

    div#boxmessage img {
    	margin-right: 10px;
    }

	/* aba */

	.div-aba {
		border-top: none;
	}

	* html div-aba  { /*IE6 and below CSS hack*/
		display:block;
	}

	/* switch table select */
	.switch-select {
		width: 100%;
	}
	
	.switch-select-td {
		vertical-align: top;
	}

	* html .switch-select  { /*IE6 and below CSS hack*/
		width: 100%;
	}

	* html .switch-select br { /*IE6 and below CSS hack*/
		display: none;
	}

.div-table {
	width: 100%;
	clear: both;
	display: block;
}

/**
 * footer
 */
	td#footer .version {
		float: right;
		padding-right: 10px;
		text-align: right;
		display: block;
	}

/***********************************************************************
 * container.php > includes
 ***********************************************************************/
/**
 * List-View
 **/
    table#list-view {
    	width: 100%;
    }

    table#list-view tbody {
    	background-color: inherit;
    }

    table#list-view tbody.hover {
	    background-color: #EEEEEE;
    }

    table#list-view tbody td {
    	padding: 2px 5px 2px 5px;
    }

	* html table#list-view tbody td { /*IE6 and below CSS hack*/
	    padding: 2px;
	}

    table#list-view tbody td.checkbox {
    	text-align: center;
    	background-color: #FFFFFF;
    }

    table#list-view .checkbox {
    	width: auto;
    	cursor: default;
    }

	table#list-view .orderby {
		float:right;
	}

/**
 * Paginacao
 **/
    select#fifochkid {
    	display: none;
    }

    table#pagination input#pagination-page, table#pagination input#pagination-filter {
		width: 50px;
    	vertical-align: middle;
		clear: both;
    }

/**
 * Equipament
 **/
    input#insert-mac {
		width: 50px;
    	vertical-align: middle;
    }

/*IE7 only CSS hack*/
/*
	*:first-child+html * {
		font-size: 10px;
	}
*/

/*IE6 and below CSS hack*/
/*
	* html * {
		font-size: 10px;
	}
*/
