  /***************/
 /* vlaCalendar */
/***************/

/* Picker */

.vlaCalendarPicker {
	position: absolute;
	z-index: 999;
	
	margin-top: -5px;
	margin-left: -2px;
	
	display: none;
}

.vlaCalendarPicker .pickerBackground {
	background: transparent url('../images/calendar_background.png') no-repeat top center;
	padding: 16px;
	height: 130px;
	width: 166px;
	overflow: hidden;
}

* html .vlaCalendarPicker .pickerBackground { /*IE6 and below CSS hack*/
	display: block;
	width: 198px;
	height: 162px;
}

/* Background for IE6 - code does not validate as it is a hack */
*html .vlaCalendarPicker .pickerBackground {
	background-image: url('../images/calendar_background.gif');
}

/* Main calendar */

.vlaCalendar, .vlaCalendar table {
	font-family: calibri, arial !important;
	color: black;
	font-size: 12px !important;
}

.vlaCalendar {
	display: block;
	width: 164px;
}
.vlaCalendar .container, .vlaCalendar .container div {
	width: 164px;
	height: 130px;
	text-align: left;
	position: absolute;
	overflow: hidden;
}

.vlaCalendar span.indication {
	display: block;
	text-align: center;
}

.vlaCalendar table {
	margin-top: 8px;
	text-align: right;
	border-collapse: collapse;
	background-color: white; /* <- IE ugly text in transition fix  */
}

.vlaCalendar .picker td {
	cursor: pointer;
}

/* Label & arrows */

.vlaCalendar .label:hover {
	color: #0066cc;
	cursor: pointer;
}
.vlaCalendar .noHover:hover {
	color: black;
	cursor: default;
}

.vlaCalendar .arrowLeft, .vlaCalendar .arrowRight {
	background: transparent url('../images/arrowleft.gif') no-repeat center;
	height: 12px;
	width: 10px;
	cursor: pointer;
}
.vlaCalendar .arrowLeft {
	margin-left: 5px;
	float: left;
}
.vlaCalendar .arrowLeft:hover {
	background-image: url('../images/arrowleft_hover.gif');
}
.vlaCalendar .arrowRight {
	margin-right: 5px;
	float: right;
	background-image: url('../images/arrowright.gif');
}
.vlaCalendar .arrowRight:hover {
	background-image: url('../images/arrowright_hover.gif');
}

/* Month */

.vlaCalendar .month th {
	text-align: center;
	font-weight: normal;
	width: 24px;
	padding-bottom: 1px;
	border-bottom: 1px solid #f5f5f5;
}

.vlaCalendar .month td {
	padding-right: 3px;
	height: 15px;
}

.vlaCalendar .month tr.firstRow td {
	padding-top: 2px;
}

.vlaCalendar .month td:hover {
	background: url('../images/day_hover.gif') bottom no-repeat;
	color: #0066cc;
}

.vlaCalendar .month td.selected {
	background: url('../images/day_selected.gif') bottom no-repeat;
	color: #0066cc;
}
.vlaCalendar .month td.selected:hover {
	background-image: url('../images/day_selected_hover.gif');
}

.vlaCalendar .month td.outsideDay {
	color: #a8a8a8;
}
.vlaCalendar .month td.outsideDay:hover {
	color: #b1c5fc;
}

/* Year & decade */

.vlaCalendar .year {
	margin-left: 2px;
}

.vlaCalendar .year td {
	width: 40px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.vlaCalendar .year td:hover {
	background: url('../images/month_hover.gif') center no-repeat;
	color: #0066cc;
}

.vlaCalendar .year td.selected {
	background: url('../images/month_selected.gif') center no-repeat;
}
.vlaCalendar .year td.selected:hover {
	background-image: url('../images/month_selected_hover.gif');
}

.vlaCalendar .year td.current {
	background: url('../images/month_current.gif') center no-repeat;
	color: #0066cc;
}
.vlaCalendar .year td.current:hover {
	background-image: url('../images/month_current_hover.gif');
}

.vlaCalendar .year td.selectedcurrent {
	background: url('../images/month_selectedcurrent.gif') center no-repeat;
}
.vlaCalendar .year td.selectedcurrent:hover {
	background-image: url('../images/month_selectedcurrent_hover.gif');
}

.vlaCalendar .year td.outsideYear {
	color: #a8a8a8;
}
.vlaCalendar .year td.outsideYear:hover {
	color: #b1c5fc;
}